In [1]:
import pandas as pd

old = pd.read_csv("grades.csv").drop(columns=['name'])
new = pd.read_csv("grades_6.csv")

grades = new.merge(old, how='outer', on='alpha')

#df[df['SQPR'] - df['CQPR'] > 0.19]

In [2]:
print(grades[grades['SQPR_6'] < 2.16])

      alpha                 name  SQPR_6  CQPR  SQPR
27   256876      WILSON, PATRICK    2.10  2.28  2.54
71   273006     JEROME, KINAMONI    1.98  2.17  2.24
92   280696        BONSU, JUSTIN    2.05   NaN   NaN
100  283486           KOH, CHLOE    1.76   NaN   NaN
109  284800  ORTUONDOLEME, DIEGO    1.47   NaN   NaN
119  286486   TOUZARD, SEBASTIEN    1.43   NaN   NaN

In [25]:
# rewarded with 2 extended EOL (1/C and 2/C) or upperclass weekend (3/C and 4/C)
print(grades[grades['SQPR_6'] >= 3.75])
grades = grades[grades['SQPR_6'] < 3.75]

      alpha                  name  SQPR_6  CQPR  SQPR
3    250933         CHASE, JOSEPH    3.96  3.61  3.74
5    251230        DAILEY, KEELIN    3.88  3.76  3.81
6    251326       DEVENTE, NOELLE    3.76  3.85  3.86
12   252694  HUNTIMER, ALEXSANDRA    3.94  2.96  3.74
18   254014        MARKEL, PORTER    3.80  3.59  3.72
19   254071        MATHUR, DEVINA    3.87  3.78  3.66
25   256642         WALKER, CALEB    3.75  3.81  3.95
26   256792       WHITAKER, JASON    3.82  3.92  4.00
28   260468       BERGESON, RILEY    3.93  3.83  3.85
32   260816         CAHILL, JACOB    3.77  3.06  3.45
36   262130       FRAZIER, SERGEI    3.90  3.84  3.95
40   262652     HARDAWAY, WILLIAM    4.00  4.00  4.00
44   263630            LEE, JASON    4.00  3.70  3.54
50   265874       SMITH, CLIFFORD    4.00  4.00  4.00
51   265958    SOKOLOFF, MORIELLE    3.95  3.86  3.83
56   269240        TONER, MATTHEW    3.87   NaN   NaN
57   270126       ALLMAN, STANTON    3.85  3.26  3.20
59   270414    BEAUCHAMP, MICHAEL    4.00  3.54  3.50
60   270492            BIBB, RYAN    3.96  3.53  3.45
64   271590        DROZD, TRISTON    4.00  4.00  4.00
69   272436          GRAHAM, CHAD    3.97  3.75  3.68
72   273174          KANG, JIHYUN    3.81  3.49  3.68
75   274470       MORRISON, TYLER    3.94  3.63  3.39
77   274758      NUSSBAUM, REILLY    3.76  3.96  3.92
87   276630      VARTULI, WILLIAM    3.76  3.68  3.56
91   280618          BINNEY, LUKE    4.00   NaN   NaN
101  283510      KONSTANT, ANDREW    3.82   NaN   NaN
102  283834           LIU, ISABEL    4.00   NaN   NaN

In [26]:
# rewarded with 1 extended EOL (1/C and 2/C) or extra weekend (3/C and 4/C)
print(grades[(grades['SQPR_6'] - grades['CQPR'] > 0.49) | (grades['SQPR_6'] >= 3.5)])
grades = grades[(grades['SQPR_6'] - grades['CQPR'] < 0.5) & (grades['SQPR_6'] < 3.5)]

      alpha                      name  SQPR_6  CQPR  SQPR
7    251482           DOUGHTY, JOSHUA    3.63  3.47  3.66
9    251662           FEENEY, DELANEY    3.63  3.36  3.88
10   251908              GARNER, LUKE    3.61  2.94  3.23
13   252706              HURT, JOSEPH    3.52  3.73  3.70
14   252808         JANKOWSKI, PEYTON    3.61  2.84  2.69
20   254332          MESSINESE, EMILY    3.44  2.72  2.78
21   255208              RAMOS, COLIN    3.33  2.50  2.78
23   255766            SICKLER, TYLER    3.26  2.75  2.81
24   256378  TORRESVALENCIA, EMILIANO    3.72  3.39  3.44
30   260756           BUCHANAN, BRIAN    3.21  2.65  3.68
31   260792            BUTRUS, THOMAS    3.33  2.58  2.55
34   261476           DAVIS, JONATHAN    3.65  3.69  3.64
37   262196           GALLAGHER, SEAN    3.67  3.56  3.57
38   262244          GASKINS, WILLIAM    3.50  3.47  3.35
39   262454            GREEN, BRAYLON    3.26  2.64  3.03
42   262982            HUNT, CAROLINE    3.74  3.28  3.32
43   263126           JOHNSON, AUSTIN    3.54  3.75  4.00
46   264050          MCATEER, KATHRYN    2.56  2.03  2.01
47   264722          OATSVALL, ELIJAH    3.17  2.44  2.44
52   266054         STAFFORD, CHARLES    3.51  3.61  3.55
53   266066      STANKOVICH, BENJAMIN    3.26  2.66  2.79
54   266246              TALLEY, JACK    3.67  3.76  3.83
58   270216           ANDREW, NATALIE    3.71  3.60  3.71
61   270546                BODE, JACK    3.52  3.51  3.49
62   270564              BONNEY, LUCY    3.52  3.19  3.16
66   271890             FIMIANI, LUCA    3.74  3.77  3.93
70   272928              HURLEY, LIAM    2.93  2.32  2.22
73   273630                 LE, QUANG    3.73  3.25  3.25
76   274602          NEITZELL, SOPHIA    3.11  2.52  2.61
79   275034            PENLAND, RIVER    3.69  3.78  3.89
81   275286           RAYNOR, ABIGAIL    3.57  3.77  3.73
84   275820              SHAO, ROBERT    3.22  2.64  2.76
85   276270       SWEARINGEN, JORDANN    3.66  3.85  3.83
89   277092                YOUNG, MIA    3.64  3.62  3.42
103  283864             LOBBIA, JADEN    3.54   NaN   NaN
104  283924            LUNDIN, MEAGAN    3.74   NaN   NaN
106  284320           MEEHAN, ZACHARY    3.59   NaN   NaN
116  286312                 SUN, ERIC    3.52   NaN   NaN
118  286450               TKACH, JAKE    3.58   NaN   NaN
122  287074       LIANG, YINZE GARCIA    3.63   NaN   NaN

In [27]:
# rewarded with 2 sleep-ins
print(grades[grades['SQPR_6'] - grades['CQPR'] > 0.19])

     alpha               name  SQPR_6  CQPR  SQPR
2   250432    BELCHER, HAYDEN    3.26  2.80  2.32
4   251005       CHOU, ZHENYI    2.53  2.23  1.89
35  261740   DURAN, LEIGHANNE    3.42  3.02  3.53
49  265340         RO, WILLIE    2.52  2.23  2.41
67  272130     GANOR, GREGORY    3.47  3.28  3.56
83  275706  SCHOFIELD, PARKER    3.23  2.79  2.74
88  276882   WILLIAMS, DANIEL    3.21  2.92  2.89