In [3]:
import pandas as pd

old = pd.read_csv("grades_6.csv").drop(columns=['name'])
new = pd.read_csv("grades_12.csv")

grades = new.merge(old, how='outer', on='alpha')

#df[df['SQPR'] - df['CQPR'] > 0.19]

In [4]:
print(grades[grades['SQPR_12'] < 2.16])

      alpha                  name  SQPR_12  SQPR_6
28   256876       WILSON, PATRICK     1.93    2.10
30   260543  BINZAINUDIN, MUHAMAD     1.53    2.50
73   273006      JEROME, KINAMONI     1.78    1.98
94   280696         BONSU, JUSTIN     1.90    2.05
102  283486            KOH, CHLOE     1.82    1.76
111  284800   ORTUONDOLEME, DIEGO     1.71    1.47
121  286486    TOUZARD, SEBASTIEN     1.16    1.43

In [5]:
# rewarded with 2 extended EOL (1/C and 2/C) or upperclass weekend (3/C and 4/C)
print(grades[grades['SQPR_12'] >= 3.75])
grades = grades[grades['SQPR_12'] < 3.75]

      alpha                  name  SQPR_12  SQPR_6
3    250933         CHASE, JOSEPH     3.98    3.96
5    251230        DAILEY, KEELIN     3.86    3.88
9    251662       FEENEY, DELANEY     3.83    3.63
12   252694  HUNTIMER, ALEXSANDRA     3.81    3.94
18   254014        MARKEL, PORTER     3.80    3.80
19   254071        MATHUR, DEVINA     3.87    3.87
26   256642         WALKER, CALEB     3.88    3.75
27   256792       WHITAKER, JASON     3.93    3.82
29   260468       BERGESON, RILEY     3.88    3.93
37   262130       FRAZIER, SERGEI     3.87    3.90
41   262652     HARDAWAY, WILLIAM     4.00    4.00
45   263630            LEE, JASON     3.94    4.00
52   265874       SMITH, CLIFFORD     4.00    4.00
53   265958    SOKOLOFF, MORIELLE     4.00    3.95
56   266246          TALLEY, JACK     3.90    3.67
58   269240        TONER, MATTHEW     3.94    3.87
61   270414    BEAUCHAMP, MICHAEL     4.00    4.00
62   270492            BIBB, RYAN     3.76    3.96
66   271590        DROZD, TRISTON     4.00    4.00
71   272436          GRAHAM, CHAD     3.93    3.97
75   273630             LE, QUANG     3.86    3.73
77   274470       MORRISON, TYLER     3.84    3.94
79   274758      NUSSBAUM, REILLY     3.88    3.76
81   275034        PENLAND, RIVER     3.79    3.69
83   275286       RAYNOR, ABIGAIL     3.83    3.57
87   276270   SWEARINGEN, JORDANN     3.77    3.66
89   276630      VARTULI, WILLIAM     3.87    3.76
93   280618          BINNEY, LUKE     4.00    4.00
103  283510      KONSTANT, ANDREW     3.88    3.82
104  283834           LIU, ISABEL     4.00    4.00

In [6]:
# rewarded with 1 extended EOL (1/C and 2/C) or extra weekend (3/C and 4/C)
print(grades[(grades['SQPR_12'] - grades['SQPR_6'] > 0.49) | (grades['SQPR_12'] >= 3.5)])
grades = grades[(grades['SQPR_12'] - grades['SQPR_6'] < 0.5) & (grades['SQPR_12'] < 3.5)]

      alpha                      name  SQPR_12  SQPR_6
6    251326           DEVENTE, NOELLE     3.71    3.76
7    251482           DOUGHTY, JOSHUA     3.63    3.63
10   251908              GARNER, LUKE     3.65    3.61
13   252706              HURT, JOSEPH     3.64    3.52
16   253384    KWASNIEWSKI, ALEXANDRA     3.72    3.33
20   254332          MESSINESE, EMILY     3.51    3.44
25   256378  TORRESVALENCIA, EMILIANO     3.61    3.72
33   260816             CAHILL, JACOB     3.53    3.77
36   261740          DURAN, LEIGHANNE     3.53    3.42
38   262196           GALLAGHER, SEAN     3.62    3.67
39   262244          GASKINS, WILLIAM     3.58    3.50
43   262982            HUNT, CAROLINE     3.57    3.74
44   263126           JOHNSON, AUSTIN     3.56    3.54
50   265202            REASON, JOSEPH     3.66    3.46
54   266054         STAFFORD, CHARLES     3.55    3.51
57   266582         VENTERS, BENJAMIN     3.54    3.34
59   270126           ALLMAN, STANTON     3.65    3.85
60   270216           ANDREW, NATALIE     3.57    3.71
68   271890             FIMIANI, LUCA     3.74    3.74
69   272130            GANOR, GREGORY     3.67    3.47
74   273174              KANG, JIHYUN     3.74    3.81
91   277092                YOUNG, MIA     3.55    3.64
95   280702          BORDA, ALEJANDRO     3.56    3.46
100  282922             HU, CHRISTINE     3.62    3.24
106  283924            LUNDIN, MEAGAN     3.54    3.74
107  284278          MCLAUGHLIN, ERYN     3.57    3.38
108  284320           MEEHAN, ZACHARY     3.55    3.59
117  286246          STONEBURG, BRYNN     3.51    3.31
120  286450               TKACH, JAKE     3.62    3.58
124  287074       LIANG, YINZE GARCIA     3.53    3.63

In [7]:
# rewarded with 2 sleep-ins
print(grades[grades['SQPR_12'] - grades['SQPR_6'] > 0.19])

      alpha                 name  SQPR_12  SQPR_6
46   263972      MARSHALL, JONAH     3.00    2.66
111  284800  ORTUONDOLEME, DIEGO     1.71    1.47